# Copyright (c) 2017-2018,2020-2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
import /init.recovery.qcom_decrypt.rc

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    setprop sys.usb.configfs 1

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral
    wait /sys/class/udc/${ro.boot.usbcontroller} 1

on fs
	chmod 0755 /system/bin/init.recovery.wifi.sh
	chmod 0755 /system/bin/init.recovery.adsp.sh
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on early-boot
    start twrp-wifi-init

on boot
    start vendor.oplus.vibrator
	start vendor.boot-qti
	start touch-aidl
    start twrp-wifi-init
	start vendor.health-default

on property:twrp.wifi.driver.ready=true
    stop wpa_supplicant
    start wpa_supplicant

on property:init.svc.wpa_supplicant=running
    wait /data/vendor/wifi/wpa/sockets/wlan0 10
    chmod 0777 /data/vendor/wifi/wpa/sockets
    chmod 0777 /tmp/recovery/sockets
    chmod 0777 /data/vendor/wifi/wpa/sockets/wlan0
    chmod 0777 /tmp/recovery/sockets/wlan0
	
on property:init.svc.recovery=running
    start load-adsp-driver

service touch-aidl  /system/bin/vendor-oplus-hardware-touch-V2-hbp5-service
    class hal
    user root
    group system input root readproc
    capabilities SYS_NICE
    interface aidl vendor.oplus.hardware.touch.IOplusTouch/default
    seclabel u:r:recovery:s0

service twrp-wifi-init /system/bin/sh /system/bin/init.recovery.wifi.sh
    class main
    user root
    group root wifi inet net_admin
    capabilities NET_ADMIN NET_RAW SYS_MODULE KILL
    disabled
    oneshot
    seclabel u:r:recovery:s0

service load-adsp-driver /system/bin/sh /system/bin/init.recovery.adsp.sh
    class main
    disabled
    oneshot
    user root
    group root
    seclabel u:r:recovery:s0


service wpa_supplicant /vendor/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/vendor/etc/wifi/wpa_supplicant.conf -O/data/vendor/wifi/wpa/sockets
    class main
    user root
    group root wifi inet net_admin
    capabilities NET_ADMIN NET_RAW
    disabled
    setenv LD_LIBRARY_PATH /vendor/etc/wifi/lib64:/vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0

service dhcpcd /system/bin/dhcpcd wlan0 -B
    class main
    user root
    group root inet wifi net_admin
    capabilities NET_ADMIN NET_RAW
    disabled
    oneshot
    seclabel u:r:recovery:s0
